body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

select,
#measures,
input[type="file"],
textarea,
input[type="date"],
input[type="text"],
input[type="range"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #ff5555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #737577;
}

#price-output {
    position: absolute;
    top: 500px;
    left: 50%;
}

#price-min-max {
    /* position: absolute; */
    /* top: 500px; */
    width: 100%;
}

#min-price {
    color: #fc0000;
}

#max-price {
    color: #1aa716;
    float: right;
}